# Python
*.egg-info/
__pycache__/

# Results of README.rst examples and recommendations
/.envrc
/output.jsonl
/venv/

# TODO: Remove
# Needs to be cloned locally, but an egg needs to be used on Scrapy Cloud.
/zyte-crawlers/