Scrapy

# Zyte integration
scrapinghub-entrypoint-scrapy  # Scrapy Cloud integration
scrapy-zyte-api  # Zyte API integration
# TODO: Get from PyPI:
-e zyte-crawlers # Zyte AI-powered spiders

# Static code checking
pre-commit

# TODO: Remove
zyte-common-items @ git+https://github.com/Gallaecio/zyte-common-items.git@autopages
number-parser