Scrapy

# Zyte integration
scrapinghub-entrypoint-scrapy  # Scrapy Cloud integration
scrapy-zyte-api  # Zyte API integration
shub  # Scrapy Cloud client
# TODO: Get from PyPI.
# At the moment it needs to be installed from a local folder for local
# development, and from an egg for Scrapy Cloud.
#-e zyte-crawlers # Zyte AI-powered spiders
# zyte-crawlers deps:
pydantic
scrapy-poet
scrapy-spider-metadata

# Static code checking
pre-commit

# TODO: Remove
zyte-common-items @ git+https://github.com/Gallaecio/zyte-common-items.git@autopages
number-parser
